body{
    background: url('');
    background-color: #11C157;
    /*background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    */
}

.vertical-offset-100{
    padding-top:10px;
}
.login-image {
  width: 150px;
  height: 150px;
  /*background-color: #F5F5F5;*/
  background-color: transparent;
  /*border: 1px solid #F5F5F5;*/
}

.logo-holder{
  padding-top:100px;
}